.multirow-imagegrid-with-text{width:100%;background-color:#F8F7F3;}
.multirow-imagegrid-with-text .row_container .image_container {width: 100%;max-width: 60%;}
.multirow-imagegrid-with-text .row_container .content {width: 100%;max-width: 40%;}
.multirow-imagegrid-with-text .row_container {display: flex;align-items: center;gap: 50px;}
.multirow-imagegrid-with-text .row_container a {color: #000;font-weight: 600;}
.multirow-imagegrid-with-text .row_container ul li {list-style-type: unset;}
.multirow-imagegrid-with-text .text_container p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.3;
}
/* image */
.multirow-imagegrid-with-text .image_container.grid-box{display: grid;grid-template-columns: repeat(2, 1fr);gap: 20px;}
.multirow-imagegrid-with-text .image_container.grid-container{display: grid;grid-template-columns: 2fr 1fr 1fr;grid-template-rows: 1fr 1fr;gap: 20px;}
 .multirow-imagegrid-with-text .image_container img.large-image {grid-column: 1 / 2;grid-row: 1 / 3;}
/*.multirow-imagegrid-with-text .image_container img.small-top {grid-column: 2 / 3;grid-row: 1 / 2;}
.multirow-imagegrid-with-text .image_container img.small-bottom {grid-column: 2 / 3;grid-row: 2 / 3;} */
.multirow-imagegrid-with-text .image_container img{width: 100%;height: 100%;object-fit: cover;display: block;}
/* image */

/* button */
.multirow-imagegrid-with-text .row_container .content .btn-collection{margin: 32px 0 0 0;}
.multirow-imagegrid-with-text .row_container .content .btn-collection a.button_coll {position: relative;display: inline-block;padding: 12px 30px;text-decoration: none;cursor: pointer;border: 1px solid #525252;color: #525252;border-radius: 32px;transition: color 0.3s 0.1s ease-out;text-align: center;overflow: hidden;z-index: 0;}
.multirow-imagegrid-with-text .row_container .content .btn-collection a.button_coll::before {content: '';position: absolute;width: 20em;height: 20em;border-radius: 50%;top: 50%;left: 50%;transform: translate(-50%, -50%);transition: box-shadow 0.5s ease-out;z-index: -1;}
.multirow-imagegrid-with-text .row_container .content .btn-collection a.button_coll:hover {color: #fff;border-color: #525252;}
.multirow-imagegrid-with-text .row_container .content .btn-collection a.button_coll:hover::before {box-shadow: inset 0 0 0 10em #525252;}
/* button */

/* text position */
.multirow-imagegrid-with-text .text-align-center {text-align: center;}
.multirow-imagegrid-with-text .text-align-left {text-align: start;}
.multirow-imagegrid-with-text .text-align-right {text-align: end;}
/* text position */

/* div position */
.multirow-imagegrid-with-text .row_container.flex-row-reverse{flex-direction: row-reverse;}
.multirow-imagegrid-with-text .row_container.flex-row{flex-direction: row;}
/* div position */

@media screen and (max-width: 990px){
  .multirow-imagegrid-with-text .row_container {flex-direction: column !important;}
  .multirow-imagegrid-with-text .row_container .image_container, .multirow-imagegrid-with-text .row_container .content {width: 100%;max-width: 100%;}
  .multirow-imagegrid-with-text .text_container p {
    font-size: 16px;
    line-height: 1.3;
  } 
  .multirow-imagegrid-with-text .image_container.grid-container {
    gap: 12px;
  }
}
